
#game-board {
    background-color: #e0e0e0;
}

#game-state {
    font-size: 18px;
    font-weight: bold;
}


.score {
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
}

.card {
    width: 100px;
    height: 140px;
    border: 1px solid #828282;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card.flipped {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back {
    transform: rotateY(180deg);
    background: linear-gradient(135deg, #eceddc 25%, transparent 25%),
    linear-gradient(225deg, #eceddc 25%, transparent 25%),
    linear-gradient(315deg, #eceddc 25%, transparent 25%),
    linear-gradient(45deg, #eceddc 25%, transparent 25%); 
    background-size: 10px 10px;
    background-color: #782323;
}

.suit {
    font-size: 48px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.value {
    font-size: 40px;
    position: absolute;
    top: 5px;
    left: 5px;
}
#player-balance p {

    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}



#player-balance p {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#dealer-score{
    background-color: rgb(237, 73, 73);
}
#player-score{
    background-color: rgb(75, 219, 106);
}
.deck{
    border: 1px solid #000;
    background-color: #ffffff;
    border-radius: 5px;
    transition: transform 0.6s;
}

