#game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #e0e0e0;
    width: 80%;
    margin: 20px auto;
}

#game-state {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 80%;
    margin: 20px auto;
}
/* removed .hand .score because the layout would get
messed up with the addition of more cards, causing an overlap (due to absolute position).
With hand-compressor and score, this will help to prevent overlap with the UI
*/
.hand-compresser{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.hand {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.score {
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    padding: 5px 10px
    border: 1px solid #000;
    border-radius:5px;
}

.card {
    width: 100px;
    height: 140px;
    border: 1px solid #000;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

#player-balance {
    text-align: center;
    float:right;
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

#player-balance p {
    margin: 0;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
}
