.page-container {
    width: 80%;
    margin: 0 auto;
  }
  
  #game-board {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 20px;
  }
  

#game-state {
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 80%;
}

#game-state-2 {
    margin-top: -50px;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    width: 80%;
}

#deal-button {
    padding: 10px 20px;
}

#hit-button {
    padding: 10px 20px;
}

#stand-button {
    padding: 10px 20px;
}

#hand-area{
    flex:3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#deck-area{
    flex:1.5;
}

.hand {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.score {
    padding: 5px 10px;
    margin: 50px;

}
.score-area {
    display: flex;
    flex-direction: column;

}


.card {
    width: 100px;
    height: 140px;
    display: flex;
    flex-direction: column;
}

#player-balance {
    float:right;
    width: 15%;
}

#player-balance p {
    margin: 0;
    padding: 5px;
}

#wager-input {
    margin-left: -21px;
    width: 7%;
}

#wager-dollar {
    padding: 1px 0px 1px 1px;
}

.deck{
    width: 140px;
    height: 100px;
    display: flex;
    align-items: center;
    margin: auto;
}

